body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: #6a5750;
  color: #262626;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  line-height: 1.25em;
}

h1 {
  font-family: 'Michroma', sans-serif;
  color: #b5a397;
  font-size: 2em;
  text-align: left;
  padding-left: 0.5em;
}

h2,
h3 {
  font-family: 'Michroma', sans-serif;
  color: #b5a397;
  font-size: 1.75em;
  text-align: center;
}

blockquote {
  font-size:  3em;
  text-align: center;
  color: #f6f1ed;
  line-height: 1.35em;
  margin: 75px auto 25px;
  max-width: 700px
}

button {
  border-radius: 4px;
  font-family: 'Roboto Condensed';
  color: #b5a397;
  font-size: 1.5em;
  background: #30231d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

button:hover {
  background: #382f2b;
  text-decoration: none;
}

#answer {
  font-size: 2em;
  color: #f6f1ed;
}

header {
  position: fixed;
  height: 3em;
  left: 0;
  top: 0;
  right: 0;
  background-color: #30231d;
  color: #b0a18e;
  text-align: center;
  padding: .5%;
  line-height: 0.5em;
}

#overlay {
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;

}

#overlay p img {
  margin: 10px;
  border-radius: 100%
}
